// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.img{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    justify-content: center;
}